
.topnav {
  overflow: hidden;
  background-color: white;
  text-decoration: none;
  color: #29292A;
  width:100%;
  margin:0px;
  border-radius: 17px;
  font-style: bold;
  font-size: 35px;
  float: left;
}


.topnav a {
  float: left;
  color: #29292A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: bold;
  font-size: 31px;
  text-shadow: 2px 2px 3px #FFD700;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

p{
  font-size:18px;
}
#FAEDB2
#A55500
font-family:BankGothic Lt BT;
#F9B262
color: #794206;
background-color: #F88226;
