{% extends 'base1.html' %}
{% load static %}

  {% block content %}
<head>
<title>Bharatanatyam</title>
</head>
    <div class="item3"><h3 style="align-items: center; color: #794206; text-shadow: 2px 2px 3px  #FFD700; font-size: 49px; padding-right: 20px; padding-left: 120px; font-family:MV Boli;"><br>Bharatanatyam</h3>
      <br>
  	<p style="padding-right: 20px; padding-left: 120px;">
      <i>Bharatanatyam</i> is a major form of Indian classical dance that originated in the state of Tamil Nadu. It is one of eight forms of dance recognized by the Sangeet Natak Akademi.<br><br>
    Bharatanatyam style is noted for its fixed upper torso, bent legs and knees flexed ( Aramandi ) combined with spectacular footwork, and a sophisticated vocabulary of sign language based on gestures of hands, eyes and face muscles. The dance is accompanied by music and a singer, and typically her guru is present as the Nattuvanar, director and conductor of the performance and art. The dance has traditionally been a form of an interpretive narration of mythical legends and spiritual ideas from the Hindu texts. The performance repertoire of Bharatanatyam, like other classical dances, includes nrita (pure dance), nritya (solo expressive dance) and natya (group dramatic dance).<br>

  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <br>  <br>
    </div>
<div class="item5"><hr style="width: 400px; text-align:center; border: 1px solid black;">
        Contact Us:-<br>Phone No.:- 9920354126<br>Instagram: - rasikaj21<br>Facebook: - Rasika Joshi
    </div>

  {% endblock content %}