{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	.grid-container {
  display: grid;
  grid-gap: 5.5px;
   grid-template-columns: auto auto auto;
  background-color: black;
  padding: 0px;
  margin: 0px;
}

.grid-container > div {
  background-color: #414a4c;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
</style>
<body style="background-color: #414a4c; background-repeat:no-repeat; background-size:cover; margin:0px; ">
<br>
<br>
<div class="grid-container">
	<div class="item1">
<img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Bharata_Natyam_Performance_DS.jpg" height=500px width=300px style="box-shadow: 10px 10px 10px;"></div>
<div class="item2">
<img src="https://i.pinimg.com/originals/4c/5c/0e/4c5c0e4ff489999322659173c9722ac8.jpg" height=500px width=300px style="box-shadow: 10px 10px 10px;"></div>

<div class="item3">
	<img src="https://i.pinimg.com/originals/33/5b/82/335b8289fa91d7fdc44a1a1557d4f6fd.jpg" height=500px width=300px style="box-shadow: 10px 10px 10px;"></div>

<div class="item4">
<img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Odissi_Performance_DS.jpg" height=500px width=300px style="box-shadow: 10px 10px 10px;"></div>

<div class="item5">
<img src="https://previews.123rf.com/images/zzvet/zzvet1603/zzvet160300141/53269743-cochin-india-february-16-2010-actor-performing-traditional-indian-dance-drama-kathakali-in-fort-coch.jpg" height=500px width=300px style="box-shadow: 10px 10px 10px;"></div>

<div class="item6">
<img src="https://www.uc.edu/groups/sabha/DANCE_LINKS/mandance2.jpg" height=500px width=300px style="box-shadow: 10px 10px 10px;"></div>

<div class="item7">
<img src="https://i.pinimg.com/originals/04/06/6c/04066cb9d0cb807efd5d3d6364ba7f41.jpg" height=500px width=300px style="box-shadow: 10px 10px 10px;"></div>

<div class="item8">
<img src="https://live.staticflickr.com/8195/8112979568_6704d209bc_b.jpg" height=500px width=300px style="box-shadow: 10px 10px 10px;"></div>

<div class="item9">
<img src="https://i.pinimg.com/originals/7f/da/de/7fdadec5d70d90333af89b6c77a4eb24.jpg" height=500px width=300px style="box-shadow: 10px 10px 10px;"></div>
</div>
</body>

{% endblock content %}