{% extends 'base1.html' %}
{% load static %}
{% block content %}

<head>
<title>Prarambhik Level</title>
</head>
      <div class="item3"><h3 style="align-items: center; color: #794206; text-shadow: 2px 2px 3px  #FFD700; font-size: 49px; padding-right: 60px; padding-left: 100px; font-family:MV Boli;"><br>Prarambhik</h3>
      <br>
  	   <p align="center" style="border-radius: 10px; box-shadow: 3px 3px 5px; padding-top: 30px; padding-bottom: 30px;">
          <a href="#shloka" style="color: red; font-size: 25px;">Namaskar Shloka</a><br><br>
          <a href="#7styles" style="color: red; font-size: 25px;">Seven Dance Styles</a><br><br>
          <a href="#mean" style="color: red; font-size: 25px;">Meaning of <i>Bharatanatyam</i></a><br><br>
          <a href="#asam" style="color: red; font-size: 25px;">Asamayukta Hasta Mudra</a><br>
        </p>
    <br>
    <a name="shloka" style="text-decoration: none;" href="{% url 'shloka' %}">
    <h3 style="align-items: center; color: #F88226; text-shadow: 2px 2px 3px; font-size: 35px;">Namaskar Shloka</h3></a>
        <br>
        <p align="center">
          Angikam Bhuvanam Yasya<br>Vaachikam Sarva Vaangmayam<br>
          Aahaaryam Chandra Thaaraadee<br>Thum Numas Saathvikam Shivam.
        </p>
        <br>
        <div style="padding-left: 120px; padding-right: 120px;">
        <blockquote>Meaning:<br>We bow to that Lord Shiva, whose body is the whole universe, whose speech is the entire world's languages and whose ornaments are the stars and moon.
          </blockquote>
        </div>
          <br>
        </article>

        <article>
          <a name="7styles" style="text-decoration: none;">
     <h3  style="align-items: center; color: #F88226; text-shadow: 2px 2px 3px; font-size: 35px;">Seven Dance Styles</h3></a>
        <br>
        <p align="center">
          Bharatanatyam from Tamilnadu<br>
          Kathak from Uttar Pradesh<br>
          Kathakali from Kerala<br>
          Manipuri from Manipur<br>
          Odissi from Orissa<br>
          Mohini Attam from Kerala<br>
          Kuchipudi from Andhra Pradesh<br>
        </p>
        <br>

        </article>

        <article>
          <a name="mean" style="text-decoration: none;" href="{% url 'featureB' %}">
          <h3 style="align-items: center; color: #F88226; text-shadow: 2px 2px 3px; font-size: 35px;">Meaning of BhaRaTaNatyam</h3> </a>
          <br>
        <div style="padding-left: 120px; padding-right: 120px;">
        <blockquote>Bha stands for Bhava meaning Expressions.<br>Ra stands for Raga meaning Music.
          <br>Ta stands for Tala meaning Rhythm.<br>Thus, it is a mixture of expressions, music and rhythm through dance.
          </blockquote>
        </div>
          <br>

          </article>

          <article>
          <a name="asam" href="{% url 'amudra' %}" style="text-decoration: none;">
     <h3  style="align-items: center; color: #F88226; text-shadow: 2px 2px 3px; font-size: 35px;">Asamayukta Hasta Mudra</h3></a>
        <br>
        <blockquote>
          PatakasTripatako Ardhapataka Kartarimukhaha Mayurakhyo Ardhachandrasch Arala Shukatundakaha Mushtisch Shikharakhayshcha
          Kapittha Katakamukhaha Suchi Chandrakalachaiyava Padmakoshaha Sarpashirastatha Mrigshirsha Simhamukhaha Kangulashcha
          Alapadmakaha Chaturo Bhramarashchaiyava Hamsasya Hamsapakshakaha Sandamsham Mukulshchaiyava Tamrachuda Strishulkaha
          iti asamayukta hastanam ashta vimshati riritaha.
        </blockquote>

        <br>
        </article>
    </div>
    <div class="item5"><hr style="width: 400px; text-align:center; border: 1px solid black;">
        Contact Us:-<br>Phone No.:- 9920354126<br>Instagram: - rasikaj21<br>Facebook: - Rasika Joshi</div>
    </div>

{% endblock content %}